    .mainbox {
        padding: 32px;
    }
    
    #clock {
        width: 100%;
        position: relative;
    }
    
    .circum {
        fill: none;
        stroke: #000;
        stroke-width: 9;
        stroke-miterlimit: 10;
        border: 5px solid green;
    }
    
    .center {
        fill: #000;
    }
    
    .hour-marks {
        fill: none;
        stroke: #000;
        stroke-width: 9;
        stroke-miterlimit: 10;
    }
    
    .hour-arm {
        fill: none;
        stroke: #000;
        stroke-width: 17;
        stroke-miterlimit: 10;
    }
    
    .minute-arm {
        fill: none;
        stroke: #000;
        stroke-width: 11;
        stroke-miterlimit: 10;
    }
    
    .second-arm {
        fill: none;
        stroke: #000;
        stroke-width: 4;
        stroke-miterlimit: 10;
    }
    
    .sizing-box {
        fill: none;
    }
    
    #num-clock {
        position: absolute;
        top: 325px;
        left: 670px;
        width: 90px;
        z-index: -1;
        background: #2f3061;
        padding: 3px;
        color: #f7fff7;
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        border-radius: 4px;
    }
    
    #hour,
    #min,
    #sec {
        transform-origin: 300px 300px;
        transition: transform .5s ease-in-out;
    }
